body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para o cabeçalho da página */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  /* Estilos para o formulário de cadastro */
  .login-form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="email"],
  .login-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Estilos para a tabela de cadastros */
  .table {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 800px;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #333;
    color: #fff;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para os botões de ação */
  .btn-primary {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    background-color: #555;
  }